@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Hello there from Other controller!</h2>
<h3>@ViewData["Message"]</h3>