@using Microsoft.Extensions.Localization
@inject IStringLocalizer<WebLib.WebLibSharedResources> sr

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
@sr["this string comes from shared resources"]
