@using Microsoft.Extensions.Localization
@inject IStringLocalizer<WebLib.WebLibSharedResources> sr


<h2>Hello there from Foo!</h2>
<h3>@ViewData["Message"]</h3>
@sr["how do I love thee, let me count the ways"]